.hud {
  border-right: var(--border-width, 3px) solid
    var(--border-color, var(--info));
}

illthorn-panel {
  font-size: 13px;
  position: relative;
  //padding: 4px;
  //margin: 10px;
  // If we start saving panel heights to storage, let's do this
  // overflow-x: hidden;
  // overflow-y: auto;
  resize: vertical;
  summary {
    margin: 0;
    padding: 0.5em;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--info);
    font-weight: bold;
    &:focus {
      /* TODO: Strategy for focus styles */
      outline: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
  span {
    flex: 1;
  }
  .value {
    margin-left: auto;
    font-weight: bold;
  }
}


.high .label {
  color: var(--ok);
}

.medium .label {
  color: var(--warn);
}

.low .label,
.low .spell {
  color: var(--danger);
}

.injury-name {
  padding-right: 1em;
  margin-right: auto;
}

.active-spells {
  .value {
    margin-left: 0;
    display: flex;
    width: 100%;
  }

  .flavor-text {
      font-weight: normal;
      padding-right: 1em;
      margin-right: auto;
      flex: 2;
    }
}
